<article class="news detail">
         <section class="box eighth">
            <div class="date">
                <ul class="square">
                    <li class="month">{{ news.date_published|date:"M" }}</li>
                    <li class="day">{{ news.date_published|date:"d" }}</li>
                </ul>
            </div>
        </section>
        <section class="box three-quarters">
            <h2>{{ news.title }}</h2>
            {% for image in news.newsitemimage_set.all %}
            {% if image.main %}
            <figure style="margin-top:10px;">
                <img class="flex" src="{{ image.detail.url }}" title="{{ image.name }}" alt="{{ image.caption }}" />
            </figure>
            {%  endif %}
            {%  endfor %}
            {{ news.body_html|safe }}
            {% load futuregreen_extras %}
            {%  for item in news.newsitemfile_set.all %}
                <p><a href="{{ item.file.url }}">{{ item.file.name|filename }}</a> [ {{ item.file.size|filesizeformat  }} ]</p>
            {% endfor %}
             {%  if news.newsitemproject_set.all %}
             <h3>Related Projects</h3>
             {%  for item in news.newsitemproject_set.all %}
                <article class="project related">
                    <figure class="seventh">
                        {% for image in item.project.projectimage_set.all %}
                            {% if image.is_main %}
                                <a href="{{ item.project.get_absolute_url }}">
                                    <img class="flex" src="{{ image.list.url }}"
                                         alt="{{ item.project.name }}"
                                         title="{{ item.project.name }}" />
                                </a>
                            {% endif %}
                        {% endfor %}
                    </figure>
                    <section class="sixth-sevenths">
                        <h3><a href="{{ item.project.get_absolute_url }}">{{ item.project.name }}</a></h3>
                        <p style="font-size:.85em;">{{ item.project.short_description|safe }}</p>
                    </section>

                </article>
            {%  endfor %}
            {% endif %}
         </section>
    </article>