<article class="news detail">
         <section class="box eighth">
            <div class="date">
                <ul class="square">
                    <li class="month">{{ news.date_published|date:"M" }}</li>
                    <li class="day">{{ news.date_published|date:"d" }}</li>
                </ul>
            </div>
        </section>
        <section class="box three-quarters">
            <h2>{{ news.title }}</h2>
            {% for image in news.newsitemimage_set.all %}
            {% if image.main %}
            <figure style="margin-top:10px;">
                <img class="flex" src="{{ image.detail.url }}" title="{{ image.name }}" alt="{{ image.caption }}" />
            </figure>
            {%  endif %}
            {%  endfor %}
            {{ news.body_html|safe }}
         </section>
    </article>