<article class="article excerpt">
         <section class="box eighth">
            <div class="date">
                <ul class="square">
                    <li class="month">{{ article.date_published|date:"M" }}</li>
                    <li class="day">{{ article.date_published|date:"d" }}</li>
                </ul>
            </div>
        </section>
        <section class="box three-quarters">
            <h2>{{ article.title }}</h2>
            <ul class="tags">
                {% for tag in article.tags.all %}
                <li> {{ tag.name }}{% if not forloop.last %}, {% endif %}</li>
                {% endfor %}
            </ul>
            {% for image in article.articleimage_set.all %}
            {% if image.main %}
            <figure style="margin-top:10px;">
                <img class="flex" src="{{ image.detail.url }}" title="{{ image.name }}" alt="{{ image.caption }}" />
            </figure>
            {%  endif %}
            {%  endfor %}
            {{ article.excerpt_html|safe }}
            <p class="tease"><a href="{{ article.get_absolute_url }}">Read More</a></p>
         </section>
</article>