{% extends "base.html" %}
{% load generic_flatblocks %}
{% block body_class %}contact{% endblock body_class %}
{% block content %}
<div class="contact-content full box" style="position: relative">
{%  gblock "contact_image" for "content.ContentBlock" with "content/contentblock/overlay.html" %}
{%  gblock "email_signup_form" for "content.ContentBlock" with "content/contentblock/simple.html" %}
</div>
{% endblock content %}
{% block js_local %}
    <script type="text/javascript">
        function Flex() {
            var height = $(".sixth").width();
            //$("#contact-info").css('min-height', height);
        }
        $(document).ready(function() {
            Flex();
        });

        $(window).resize(function() {
            Flex();
        });
    </script>
{% endblock js_local %}
