{% extends "base.html" %}
{% block body_class %}home{% endblock body_class %}
{% block content %}
        <section class="slideshow">
            <div class="carousel">
                <ul class="slides">
                    <li>
                        <div class="image">
                            <a href="{{ news.get_absolute_url }}">
                            {% for image in news.newsitemimage_set.all %}
                            {% if image.is_main %}
                            <img src="{{ image.letterbox.url }}" alt="{{ image.caption }}" />                     
                            {% endif %}
                            {% endfor %}
                            </a>
                        </div>
                        <div class="text">
                            <h2>{{ news.title }}</h2> 
                            <p>{{ news.excerpt_html|safe }}</p>
                            <p class="tease"><a href="{{ news.get_absolute_url }}">Read more...</a></p>
                        </div>
                     </li>

                    {% for project in project_list %}
                     <li>
                            <div class="image">
                            <a href="{{ project.get_absolute_url }}">
                                {% for image in project.projectimage_set.all %}
                                {% if image.is_main %}
                                <img src="{{ image.letterbox.url }}" alt="{{ image.caption }}" />
                                {% endif %}
                                {% endfor %}
                            </a>
                            </div>
                            <div class="text">
                                <h2>{{ project.name }}</h2> 
                                <p>{{ project.description_html|safe|truncatewords_html:40 }}</p>
                                <p class="tease"><a href="{{ project.get_absolute_url }}">Read More...</a></p>
                            </div>

                     </li>
                     {% endfor %}
                     <li>
                        <div>
                            <a href="{{ article.get_absolute_url }}">
                            {% for image in article.articleimage_set.all %}
                            {% if image.is_main %}
                            <img src="{{ image.letterbox.url }}" alt="{{ image.caption }}" />                     
                            {% endif %}
                            {% endfor %}
                            </a>
                        </div>
                        <div class="text">
                            <h2>{{ article.title }}</h2> 
                            <p>{{ article.excerpt_html|safe }}</p>
                            <p class="tease"><a href="{{ article.get_absolute_url }}">Read 
more...</a></p>
                        </div>
                     </li>

                  </ul>
                </div>
        </section>
{% endblock content %}

{% block js_local %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flexslider.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.resize.min.js"></script>
<script type="text/javascript">
    function Square() {
            $('.square').each(function(){
                width = $(this).width();
                $(this).css('height',width);
            });
            $('.center').each(function(){
                width = $(this).width();
                $(this).css('line-height',width + "px");
            });
    }




    $(document).ready(function() {
        Square();
        $('.carousel').flexslider({
            animation: "slide",
            slideshow: true,
            slideshowSpeed: 5000,
            animationDuration: 600,
            directionNav: false,
            controlNav: false,
            keyboardNav: true,
            touchSwipe: true,
            prevText: "	&#171;",
            nextText: "	&#187;",
            pausePlay: false,
            randomize: false,
            //slideToStart: 0,
            animationLoop: true,
            pauseOnAction: true,
            pauseOnHover: false,
        });

    });

    $(window).resize(function() {
        Square();
    });

    $("#open").click(function () {
        $(".content").addClass('max');
        $(".slideshow").resize(function() {
            $.fn.flexslider.reset()
        });
        $("#open").hide();
        $("#close").show();
        $("#close").css('display', 'block');
    });

    $("#close").click(function () {
        $(".content").removeClass('max');
        $("#open").show();
        $("#close").hide();
    });
</script>
{% endblock js_local %}
