{% extends "base.html" %}
{% load generic_flatblocks %}
{% block content %}
    <div style="float:left; width:16.67%;">
        {% for project in project_list|slice:":1" %}
            <article class="project box">
                {% for image in project.projectimage_set.all %}
                    {% if image.is_main %}
                        <a href="{{ project.get_absolute_url }}"><img src="{{ image.list.url }}" /></a>
                    {% endif %}
                {%  endfor %}
            </article>
        {% endfor %}
    </div>
    <div style="float:left; width:50%;">
        <article id="profile" class="text box">
        {%  gblock "firm_profile" for "content.ContentBlock" with "content/contentblock/excerpt.html" %}
        <p><a href="#">Read More</a></p>
        </article>
        {% for project in project_list|slice:"1:7" %}
            <article class="project box">
                {% for image in project.projectimage_set.all %}
                    {% if image.is_main %}
                        <a href="{{ project.get_absolute_url }}"><img src="{{ image.list.url }}" /></a>
                    {% endif %}
                {%  endfor %}
            </article>
        {% endfor %}
    </div>
    <div style="float:left; width:33.33%;">
    {% for project in project_list|slice:"8:" %}
        <article class="project box">
            {% for image in project.projectimage_set.all %}
                {% if image.is_main %}
                    <a href="{{ project.get_absolute_url }}"><img src="{{ image.list.url }}" /></a>
                {% endif %}
            {%  endfor %}
        </article>
    {% endfor %}
     <article id="news" class="text box">
        <p><a href="#">Read More</a></p>
    </article>

{% endblock content %}
{% block js_local %}
    <script type="text/javascript">
        $(document).ready(function() {
            var height = $(".project").height();
            $(".text").css('height', height);
        });

        $(window).resize(function() {
            var height = $(".project").height();
            $(".text").css('height', height);
        });
    </script>
{% endblock js_local %}
