{% extends "base.html" %}
{% block body_class %}home{% endblock body_class %}
{% block content %}
        <section class="slideshow">
            <div class="carousel">
                <ul class="slides">
                    {% for project in project_list|slice:":2" %}
                     <li>
                            <div class="image">
                            <a href="{{ project.get_absolute_url }}">
                                {% for image in project.projectimage_set.all %}
                                {% if image.is_main %}
                                <img src="{{ image.letterbox.url }}" alt="{{ image.caption }}" />
                                {% endif %}
                                {% endfor %}
                            </a>
                            </div>

                     </li>
                     {% endfor %}
                     <li>
                        <div class="image">
                            <a href="{% url news %}">
                            {% for image in news.newsitemimage_set.all %}
                            {% if image.is_main %}
                            <img src="{{ image.letterbox.url }}" alt="{{ image.caption }}" />                     
                            {% endif %}
                            {% endfor %}
                            </a>
                        </div>
                        <div class="text box full">
                            <h2>{{ news.title }}</h2> 
                            <p>{{news.excerpt_html|safe }}</p>
                        </div>
                     </li>

                    {% for project in project_list|slice:"2:" %}
                     <li>
                            <div class="image">
                            <a href="{{ project.get_absolute_url }}">
                                {% for image in project.projectimage_set.all %}
                                {% if image.is_main %}
                                <img src="{{ image.letterbox.url }}" alt="{{ image.caption }}" />
                                {% endif %}
                                {% endfor %}
                            </a>
                            </div>

                     </li>
                     {% endfor %}

                     <li>
                        <div>
                            <a href="{{ article.get_absolute_url }}">
                            {% for image in article.articleimage_set.all %}
                            {% if image.is_main %}
                            <img src="{{ image.letterbox.url }}" alt="{{ image.caption }}" />                     
                            {% endif %}
                            {% endfor %}
                            </a>
                        </div>
                        <div class="text box full">
                            <h2>{{ article.title }}</h2> 
                            <p>{{ article.excerpt_html|safe }}</p>
                        </div>
                     </li>

                  </ul>
                </div>
        </section>
{% endblock content %}

{% block js_local %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flexslider-1.8-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.resize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.carousel').flexslider({
            animation: "fade",
            slideshow: true,
            slideshowSpeed: 7000,
            animationSpeed: 2000,
            directionNav: false,
            controlNav: false,
            keyboardNav: true,
            touch: true,
            useCSS: true,
            animationLoop: true,
            pauseOnAction: true,
            pauseOnHover: false,
        });

    });

</script>
{% endblock js_local %}
