{% extends "studio/studio_base.html" %}
{% block page_title %}: News: {{ item.name }}{% endblock page_title %}
{% block content %}
<section class="two-thirds">
    <article class="box" id="news">
        {% for image in item.itemimage_set.all %}
           <img class="flex" alt="{{ item.title }}" src="{{ image.main.url }}" />
        {%  endfor %}
        <p class="date">{{ item.date_published|date:"M d, Y" }}</p>
        <h2>{{ item.title }}</h2>
        {{ item.body_html|safe }}
    </article>
</section>
{% endblock content %}