{% extends "base.html" %}
{% block section_title %}News{% endblock section_title %}
{% block body_class%}news{% endblock body_class %}
{% load generic_flatblocks %}
{% block content %}
    <header class="box two-thirds">
    {% block content_title %}
        <h1>News</h1>
    {% endblock content_title %}
    </header>
{% block main %}
{% endblock main %}
{% block aside %}
{% load news_tags portfolio_tags%}
    <aside class="third">
        <h2 class="box">News Archive</h2>
        <h3 class="box">Recent News</h3>
        <ul class="box linked-list">
        {% get_latest_news 10 as news_list %}
        {%  for n in news_list %}
            <li><a href="{{ n.get_absolute_url }}">{{ n.title }}</a></li>
        {% endfor %}
        </ul>
        <h3 class="box">Past News</h3>
        {% get_news_archive as dates %}
        <ul class="box linked-list">
            {% for date in dates %}
            <li><a href="{% url news_archive_month year=date|date:"Y", month=date|date:"M" %}" title="{{ date|date:"F Y" }}" title="{{ date|date:"F Y" }}">{{ date|date:"F Y" }}</a></li>
            {% endfor %}
        </ul>
    </aside>
{% endblock aside %}
{% endblock content %}
{% block js_local %}
        <script type="text/javascript">
         $(document).ready(function() {
            Square();
        });

	$(window).resize(function() {
            Square();
        });
     </script>
{% endblock js_local %}
