/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
a:link,
a:active,
a:hover,
a:visited {
    color: #6699ff;
}

html {
    background: #efefef;
}

body {
        min-width:1024px;
        max-width:1460px;
        padding:10px;
        position:relative;
        font-weight:normal;
        font-size:87.5%;
        font-family: kulturista-web-1,kulturista-web-2, Arial, Helvetica, sans-serif;
        color:#444;
    }

h1, h2 {
    font-family: purista-web-1,purista-web-2, sans-serif;
    margin: 0;
    padding: 0;
    font-weight:normal;
}

h1 {
    font-size:1.71428em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.28571em;
}

strong {
    font-weight:bold;
}

div,p,ul,ol,section,article {
    font-size: 1em;
    line-height: 1.5em;
}

body > header {
    height:80px;
    width:100%;
    background: #fff;
    overflow: hidden;
}

body > header > h1 {
    font-size:8px;
    width:50%;
    overflow: hidden;
    float:left;
}

body > header > h1 a {
    margin:0 0 0 20px;
    padding:80px 0 0 0px;
    height:0;
    font-size:8px;
    display:block;
    background: url('images/logo.png') no-repeat;
}

body > header > nav {
    float:left;
    width:50%;
}

body > header > nav li {
    float:left;
    line-height:80px;
    text-align: center;
    width:33.33333%;
}

body > header > nav li a {
    font-family: purista-web-1,purista-web-2, sans-serif;
    text-transform:uppercase;
    font-size: 1.28571429em;
    text-decoration:none;
}

body > header > nav li a:link,
body > header > nav li a:visited,
body > header > nav li a:hover,
body > header > nav li a:active {
    color:#444;
}
body > .content {
    overflow: auto;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    clear:both;
}

body > footer {
    clear:both;
    color:#777;
    text-transform: uppercase;
    font-size:.85em;
    margin-top:10px;
}

body > footer > .copyright {
    float:left;
    width:30%;
}

body > footer > .contact {
    float:right;
    width:70%;
    text-align:right;
}

.sixth {
    width:16.66667%; float:left;
}

.third {
    width:33.33333%; float:left;
}

.half {
    width:50%; float:left;
}

.two-thirds {
    width:66.66667%; float:left;
}

.full {
    width:100%;
}

.tease,
.tease:visited,
.tease:active,
.tease:hover,
.tease:link {
    font-weight:bold;
    text-transform: uppercase;
    text-decoration: none;
    display:block;
    margin-top:5px;
}

.tease:after {
    content: " \00BB";
}

.box {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -o-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;
     padding: 10px;
}



/********** HOMEPAGE ***********/
#home .content > div {
    overflow: hidden;
}

#home article#profile {
    float:left;
    background:url('images/corner-bg-top-right.png') no-repeat right top;
    position:relative;
}

#home article#profile p {
    padding-right:10px;
}

#home article#profile h1 {
    position:absolute;
    bottom:0;
    right:10px;
    z-index:0;
    color:rgba(0,0,0,0.1);
    font-size:7em;
    line-height:1em;
    margin: 0;
    padding: 0;
}

#home article#profile h2 {
    font-size:1.71428em;
    text-transform: uppercase;
    padding-bottom:10px;
}

#home article.text h1 {
    text-transform: uppercase;
    margin-bottom:10px;
}

#home article.project {
    position:relative;
}


#home article.project h1 {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin: 10px;
    z-index:10;
    background:rgba(0,0,0,0.5);
    color:rgba(255,255,255,0.8);
    line-height:1em;
    padding: 0;
}

#home article.project:hover h1 {
    display:block;
}

#home article.project img {
    width:100%;
    display:block;
}

#home article.project.featured {
     background:url('images/corner-bg-top-right.png') no-repeat right top,
               url('images/vertical-bg.png') no-repeat 10px 90%,
               url('images/vertical-bg.png') no-repeat 10px top,
               url('images/bottom-bg.png') no-repeat left 10px;
}

#home article#news {
    position:relative;
}

#home article#news div {
    background:#d27193;
    color:#fff;
    padding: 0 10px;
}

#home article#news p {
    font-size:.85em;
}

#home article#news p.date {
    font-family: purista-web-1,purista-web-2, sans-serif;
    font-size:1.5em;
    color:rgba(255,255,255,0.5);
}

#home article#news h1 {
    position:absolute;
    bottom:0;
    right:0;
    z-index:0;
    color:rgba(255,255,255,0.1);
    font-size:7em;
    line-height:1em;
    margin: 0;
    padding: 0;
}

#home article#news .tease {
    color:#fff;
}

#home article#news .date {
    font-weight:bold;
    color:rgba(255,255,255,0.5);
}

#home article#news h2 {
    clear:both;
    font-weight:normal;
    font-size:1.2857em;
    margin:5px 0;
}

/*********** PROJECT LIST ************/
.project-list article.project {
    width:16.66667%;
    float:left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
}

.project-list article.project img {
    width:100%;
    display:block;
}

/*********** PROJECT DETAIL ************/
#detail article.project {
    position:relative;
    overflow: auto;
    background: url('images/corner-bg-bottom-right.png') no-repeat right bottom;
}

/* slideshow */
.slideshow {
    background:url('images/corner-bg-top-right.png') no-repeat right top,
               url('images/vertical-bg.png') no-repeat 10px 90%,
               url('images/vertical-bg.png') no-repeat 10px top,
               url('images/bottom-bg.png') no-repeat left 10px;
    float:left;
    width:58.33333%;
    position: relative;
    overflow: auto;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -transition: all .3s ease-out;
    
}

.slideshow .carousel {
    position: relative;
    margin: 10px;
    background:url('images/vertical-bg.png') no-repeat right bottom,
               url('images/bottom-bg.png') no-repeat left bottom;

}

.slideshow .carousel .slides {
    
}

.slideshow .carousel .slides img {
    width:100%;
    display:block;
}

.slideshow .carousel .slides li {
    position:relative;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -transition: all .3s ease-out;
}

.slideshow .carousel .flex-caption {
    position:absolute;
    bottom:0;
    left:0;
    background:rgba(0,0,0,0.7);
    color:#fff;
    line-height:3em;
    padding:0 1.33%;
    margin: 0;
    width:97.34%;

}

.slideshow .controls {
    margin:0 0 0 0;
    padding:0 0 0 0;
    overflow: auto;
    background:url('images/vertical-bg.png') no-repeat 10px top,
               url('images/bottom-bg.png') no-repeat left 10px,
               url('images/corner-bg-bottom-right.png') no-repeat right bottom;
    
}

.slideshow .controls ul {
    margin:0 0 0 0;
    padding:0 0 0 0;
    overflow: auto;
}

.slideshow .controls li {
    list-style: none;
    float:left;
    width: 14.2857143%;
}

.slideshow .controls img {
    width:100%;
    display:block;
    /*border: 1px solid #fff;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

.slideshow .controls a.active img,
.slideshow .controls a:hover img {
    /*border: 1px solid #999;*/
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

.slideshow nav.expand {
    position:absolute;
    width:42.85714%;
    left:28.5714286%;
    height:100%;
    background: transparent;
    z-index:3000;
}

.slideshow nav.expand a,
.slideshow nav.expand a:link,
.slideshow nav.expand a:hover,
.slideshow nav.expand a:active,
.slideshow nav.expand a:visited {
    position:relative;
    display:block;
    width:100%;
    height:100%;
    background: transparent;
    text-align:center;
    text-decoration: none;
}


.slideshow nav.expand a span {
    position:absolute;
    display:block;
    opacity:0;
    top:50%;
    width:33%;
    margin: 0 33%;
    font-size:8em;
    color:#fff;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -transition: all .5s ease-in;

}

.slideshow nav.expand a:hover span {
   opacity:1.0;
   -webkit-transition: all .5s ease-in;
   -moz-transition: all .5s ease-in;
   -o-transition: all .5s ease-in;
   -ms-transition: all .5s ease-in;
   -transition: all .5s ease-in;
}


.slideshow #close {
    display:none;
}

.slideshow .flex-direction-nav li {

}

.slideshow .flex-direction-nav a {
    position:absolute;
    display:none;
    /*width:28.5714286%;*/
    z-index:1000;
}



.slideshow .flex-direction-nav .next {
    right:10px;
    text-align: right;
}

.slideshow .flex-direction-nav .prev {
    left:10px;
}

/* details */

.details {
    float:left;
    width:41.66667%;
    margin:0;
    background:url('images/corner-bg-top-right.png') no-repeat right top;

}

.details h1 {
    padding-top:5px;
    font-size:2em;
    line-height: 1.2em;
}

.details ul, .details p {
    overflow: auto;
    font-size:.85em;
}

.details p {
    text-align: justify;
    margin:10px 0;
}

.details p:first-child {
    margin-top:0;
}

.details .info-boxes {
    /*position:absolute;
    bottom:0;
    right:0;
    width:16.66667%;*/
}

.details .info-boxes ul {
    margin: 0 0 0 0;
    overflow: auto;
}


.details .info-boxes ul li {
    overflow: auto;
    float:left;
    width:50%;
    display: table;
}


.details .info-boxes ul li p {
    background: #ccc;
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
    display: table-cell; vertical-align: middle;
    text-align: center;
}

.details .info-boxes ul li span {
    display:block;
    font-family: Helvetica, Arial, sans-serif;
    line-height:1em;
}

.details .date .year,
.details .size .number {
    font-size: 2.8em;
}

.details .size .unit {
    font-size: .85em;
}

.details .date .month {
    font-size: 1em;
}

.details .meta {
    float:right;
    width:40%;
}

.details .description {
    float:left;
    width:60%;
}

.details .description .text p {
    margin-bottom:10px;
}

.details .categories {
    overflow: hidden;
    clear:both;
    margin: 10px;
}

.details .categories li {
    overflow: hidden;
    float:left;
    width:20%;
    padding:2px 2px 0 0;
    margin:0;
    color:#fff;
    font-weight: bold;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

 .details .categories li a {
        color:#fff;
        float:left;
        width:100%;
        font-weight: bold;
        text-align: center;
        font-size:1.3em;
        text-decoration: none;
    }


.details .categories .project-type {
    background:#d27193;
}

.details .categories .landscape-type {
    background:#7eac32;
}

.details .meta p {
    margin: 0 0 0 0;
}
.details .meta ul {
    margin:0 0 0 0;
}

.details .meta h2 {
    font-size:1.14285714em;
}

.details .meta .location {
    clear:both;
    margin: 0 0 0 0;
    border: none;
     background:url('images/vertical-bg.png') no-repeat 10px top,
               url('images/bottom-bg.png') no-repeat left 10px;
}

/* expanded detail styles */

.max .slideshow {
    width:100%;
}

.max .slideshow .carousel {

}


.max .slideshow .controls li {
    width:8.33333333%
}

.max .details {
    width:100%;
    background: none;
    position:relative;
}

.max .details .description {
    width:50%;
    -webkit-column-count:2;
    -moz-column-count:2;
    -o-column-count:2;
    -ms-column-count:2;
    column-count:2;
}

.max .details .meta {
    width:50%;
}

.max .details .meta .categories,
.max .details .meta .info-boxes {
    float:left;
    width:33.33333%;
    margin: 0 0 0 0;
}

.max .details .meta .categories {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (max-width: 1240px) and (min-width: 1120px) {
    body {
        width:90%;
        margin: 0 5%;
    }

    section.text article {
        font-size:0.92857em;
    }
}

@media screen and (max-width: 1120px) and (min-width: 1024px) {
    body {
        width:98.33334%;
        margin: 0 .83333%;
    }

    div.main section.text article {
        font-size:0.92857em;
    }
}

@media screen and (min-width: 1240px) {
  body {
    width:85%;
    margin: 0 7.5%;
  }
}

@media screen and (max-width: 1024px) {
    section.text article {
        font-size:0.92857em;
    }
}