/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
a:link,
a:active,
a:visited {
    /*color: #6699ff;*/
    color:#3d6e31;
}

a:hover {
    color:#8ec42a;
}

html {
    /*background: #efefef;*/
}

body {
    min-width:1024px;
    /*max-width:1440px;*/
    padding:10px;
    position:relative;
    font-weight:normal;
    font-size:87.5%;
    font-family: kulturista-web-1,kulturista-web-2, Arial, Helvetica, sans-serif;
    color:#444;
}

h1, h2 {
    margin: 0;
    padding: 0;
    font-weight:normal;
}

h1 {
    font-family: purista-web-1,purista-web-2, sans-serif;
    font-size:1.71428em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.28571em;
}

h3 {
    font-weight:bold;
}


strong {
    font-weight:bold;
}

div,p,ul,ol,section,article {
    font-size: 1em;
    line-height: 1.5em;
}

body > header {
    height:80px;
    width:100%;
    background: transparent;
    overflow: hidden;
    font-family: purista-web-1,purista-web-2, sans-serif;
}

body > header > h1 {
    font-size:8px;
    width:50%;
    overflow: hidden;
    float:left;
}

body > header > h1 a {
    margin:0 0 0 20px;
    padding:80px 0 0 0px;
    height:0;
    font-size:8px;
    display:block;
    background: url('images/logo.png') no-repeat;
}

body > header > nav {
    float:left;
    width:50%;
}

body > header > nav li {
    float:left;
    line-height:80px;
    text-align: center;
    width:25%;
}

body > header > nav li a {
    text-transform:uppercase;
    font-size: 1.14285714em;
    letter-spacing:1px;
    text-decoration:none;
    padding: 15px 20px;
}

body > header > nav li a:link,
body > header > nav li a:visited,
body > header > nav li a:hover,
body > header > nav li a:active {
    color:#444;
}

body.studio > header > nav li a.studio,
body.portfolio > header > nav li a.portfolio,
body.research > header > nav li a.research,
body.contact > header > nav li a.contact {
     background:url('images/vertical-bg.png') no-repeat 10px top,
               url('images/bottom-bg.png') no-repeat left 10px,
               url('images/corner-bg-bottom-right.png') no-repeat right bottom;
}

body > .content {
    overflow: auto;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    clear:both;
}

body > footer {
    clear:both;
    color:#777;
    text-transform: uppercase;
    font-size:.85em;
    width:100%;
    overflow: hidden;
    font-family: purista-web-1,purista-web-2, sans-serif;
}

body > footer > .contact a:link,
body > footer > .contact a:visited {
    color:#777;
    text-decoration: none;
}

body > footer > .copyright {
    float:left;
    margin-left:20px;
}

body > footer > .contact {
    float:right;
    text-align:right;
    margin-right:20px;
}

.eighth {
    width:12.5%; float:left;
}

.seventh {
    width:14.28571%; float:left;
}

.two-sevenths {
    width:28.57142%; float:left;
}

.sixth {
    width:16.66667%; float:left;
}

.fifth {
    width:20%; float:left;
}

.quarter {
    width:25%; float:left;
}

.third {
    width:33.33333%; float:left;
}

.two-fifths {
    width:40%; float:left;
}

.half {
    width:50%; float:left;
}

.two-thirds {
    width:66.66667%; float:left;
}

.three-quarters {
    width:75%; float:left;
}

.five-sixths {
    width:83.33333%; float:left;
}

.sixth-sevenths {
    width:85.71428%; float:left;
}

.seven-eighths {
    width:87.5%; float:left;
}

.full {
    width:100%;
}

.tease,
.tease:visited,
.tease:active,
.tease:hover,
.tease:link {
    font-weight:bold;
    text-transform: uppercase;
    text-decoration: none;
    display:block;
    padding-top:10px;
    color:#3d6e31;
}

.tease:after {
    content: " \00BB";
}

.box {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -o-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;
     padding: 10px;
}

.image {
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    box-shadow: inset inset 0 0 5px rgba(0,0,0,.3);
}

.image img {
    position: relative;
    z-index: -1;
}

.content p {
    margin: 10px 0;
}

.content .pullquote {
    font-size:1.5em;
    color:#999;
    line-height:1.5em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

img.flex {
     width:100%;
     display:block;
     margin: 0;
     padding: 0;
}

h1.overlay {
    padding: 0 0 0 0;
    font-size:2.4em;
    line-height:1em;
    margin:-.95em 0 0 10px;
    color:#fff;"
}

.linked-list {
    list-style-type: square;
    margin-left:15px;
    padding-top:0;
}

.linked-list li {
    margin-bottom:5px;
}

a.wraplink {
    text-decoration: none;
    color:inherit;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
    margin-top:20px;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

article.news,
article.article {
    clear:both;
}



article.project.list {
    position:relative;
    background: transparent;
}

article.project.list header {
    display:none;
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:3;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -transition: all .3s ease-out;
}

article.project.list:hover header {
    display:block;
    opacity:1.0;
}

article.project.list header h1 {
    font-size: 1.28571em;
    line-height:1em;
    /*background:rgba(0,0,0,0.3);*/
    -moz-box-shadow: inset 0px 0px 96px rgba(0,0,0,0.9);
    -webkit-box-shadow: inset 0px 0px 96px rgba(0,0,0,0.9);
    box-shadow: inset 0px 0px 96px rgba(0,0,0,0.9);
    color:rgba(255,255,255,0.9);
    width:100%;
    height:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
}

article.project.list.featured header h1 {
    font-size:2.56642em;
    -moz-box-shadow: inset 0px 0px 144px rgba(0,0,0,0.9);
    -webkit-box-shadow: inset 0px 0px 144px rgba(0,0,0,0.9);
    box-shadow: inset 0px 0px 144px rgba(0,0,0,0.9);
    padding: 10px;
}
article.project.list header a {
    text-decoration:none;
}

article.project.list img {
    width:100%;
    display:block;
}

article.project.related section {
    padding-left:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

article.project.related section p {
    color:#666;
}

div.date {
    display:table;
    width:100%;
}

div.date ul {
    display: table-cell; vertical-align: middle;
    background: #ccc;
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

div.date li {
    display:block;
    font-family: Helvetica, Arial, sans-serif;
    line-height:1em;
}

div.date .day {
    font-size: 2.4em;
}

div.date .month {
    font-size: .85em;
}

body.research .content,
body.studio .content {
    background:url('images/corner-bg-bottom-right.png') no-repeat right bottom;
}

body.research .main,
body.studio.news .main{
    background:url('images/corner-bg-top-right.png') no-repeat right top;
}

/********** HOMEPAGE ***********/
.home .content > div {
    overflow: hidden;
}

.home .content p {
    margin: 0;
}

.home article#profile h2 {
    font-family: purista-web-1,purista-web-2, sans-serif;
    font-size:1.71428em;
    text-transform: uppercase;
    padding:0 0 10px 0;
    color:#3d6e31;
}

.home article.text h1 {
    text-transform: uppercase;
    margin-bottom:10px;
}


.home article.update {
    position:relative;
}

.home article.update div {
    color:#fff;
    padding: 0 10px;
}

.home article.update p {
    font-size:.85em;
}

.home article.update h1 {
    font-weight:bold;
    position:absolute;
    bottom:5px;
    right:5px;
    z-index:0;
    color:rgba(255,255,255,0.1);
    font-size:5em;
    line-height:1em;
    margin: 0;
    padding: 0;
}

.home article.update .tease {
    color:#fff;
}

.home article.update h2 {
    clear:both;
    font-weight:normal;
    font-size:1.2857em;
    margin:0;
    padding: 10px 0 5px 0;
}

.home article#news div {
    background:#7eac32;
}

.home article#article div {
    background:#3d6e31;
}

/*********** PROJECT STYLES **********/
.categories {
    overflow: hidden;
    clear:both;
    /*margin: 10px;*/
}

.categories li {
    overflow: hidden;
    float:left;
    width:25%;
    padding:4px 4px 0 0;
    margin:0;
    color:#fff;
    font-weight: bold;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.categories li.active {
    width:50%;
}

.categories li.active a {
    font-size:2.28570em;
}

.categories li a {
        color:#fff;
        float:left;
        width:100%;
        font-weight: bold;
        text-align: center;
        font-size:1.14285em;
        text-decoration: none;
}


.categories .project-type {
    /*background:#d27193;*/
    background:#3d6e31;
}

.categories .landscape-type {
    /*background:#7eac32;*/
    background:#8ec42a;
}

/*********** PROJECT LIST ************/
.portfolio aside > nav {
    font-size:.85em;
}
.project-list article.project {

}

.project-list article.project img {
    width:100%;
    display:block;
}

/*********** PROJECT DETAIL ************/
.portfolio article.project.detail {
    position:relative;
    overflow: auto;
    background: url('images/corner-bg-bottom-right.png') no-repeat right bottom,
                url('images/corner-bg-top-right_sm.png') no-repeat right top;
}

/* slideshow */
.slideshow {
    background:url('images/corner-bg-top-right.png') no-repeat right top,
               url('images/vertical-bg.png') no-repeat 10px 90%,
               url('images/vertical-bg.png') no-repeat 10px top,
               url('images/bottom-bg.png') no-repeat left 10px;
    float:left;
    width:58.33333%;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -transition: all .3s ease-out;

}

.slideshow .carousel {
    position: relative;
    margin: 10px;
    background:url('images/vertical-bg.png') no-repeat right bottom,
               url('images/bottom-bg.png') no-repeat left bottom;

}

.slideshow .carousel .slides {

}

.slideshow .carousel .slides img {
    width:100%;
    display:block;
}

.slideshow .carousel .slides li {
    position:relative;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -transition: all .3s ease-out;
}

.slideshow .carousel .flex-caption {
    position:absolute;
    width:100%;
    bottom:0;
    left:0;
    background:rgba(0,0,0,0.6);
    color:#fff;
    line-height:40px;
    padding:0 10px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}

.slideshow .controls {
    margin:0 0 0 0;
    padding:0 0 0 0;
    overflow: auto;
    background:url('images/vertical-bg.png') no-repeat 10px top,
               url('images/bottom-bg.png') no-repeat left 10px,
               url('images/corner-bg-bottom-right.png') no-repeat right bottom;

}

.slideshow .controls ul {
    margin:0 0 0 0;
    padding:0 0 0 0;
    overflow: auto;
}

.slideshow .controls li {
    list-style: none;
    float:left;
    width: 14.2857143%;
}

.slideshow .controls img {
    width:100%;
    display:block;
    /*border: 1px solid #fff;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

.slideshow .controls a.active img,
.slideshow .controls a:hover img {
    /*border: 1px solid #999;*/
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

/*
.slideshow nav.expand {
    position:absolute;
    width:42.85714%;
    left:28.5714286%;
    height:100%;
    background: transparent;
    z-index:20000;
    text-align: center;
}

.slideshow nav.expand a,
.slideshow nav.expand a:link,
.slideshow nav.expand a:hover,
.slideshow nav.expand a:active,
.slideshow nav.expand a:visited {
    position:relative;
    display:block;
    top:50%;
    width:80px;
    height:80px;
    margin:-50px auto 0 auto;
    text-align:center;
    text-decoration: none;
    line-height:80px;
    opacity:0;
    color:#fff;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -transition: all .5s ease-in;
    background: rgba(0,0,0,0.5);
    font-size:6em;
    font-family:monospace;
}

.slideshow nav.expand:hover a {
   opacity:1.0;
   -webkit-transition: all .5s ease-in;
   -moz-transition: all .5s ease-in;
   -o-transition: all .5s ease-in;
   -ms-transition: all .5s ease-in;
   -transition: all .5s ease-in;
}
*/

.slideshow nav.expand {
    position:absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top:0;
    right:40px;
    width:40px;
    background: transparent;
    z-index:20000;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-in;
   -moz-transition: all .2s ease-in;
   -o-transition: all .2s ease-in;
   -ms-transition: all .2s ease-in;
   -transition: all .2s ease-in;
}

.slideshow nav.expand a,
.slideshow nav.expand a:link,
.slideshow nav.expand a:hover,
.slideshow nav.expand a:active,
.slideshow nav.expand a:visited {
    display:block;
    height:0;
    line-height:0;
    text-align:center;
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -transition: all .2s ease-in;
    font-size:2em;
    font-family:monospace;
    font-weight:bold;
    background:rgba(0,0,0,0.6);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slideshow nav.expand a:hover {
   -webkit-transition: all .2s ease-in;
   -moz-transition: all .2s ease-in;
   -o-transition: all .2s ease-in;
   -ms-transition: all .2s ease-in;
   -transition: all .2s ease-in;
    font-size:3em;
    color: rgba(255,255,255,1.0);
}

.slideshow:hover nav.expand a {
   height:40px;
   line-height:40px;
}

.slideshow #close {
    display:none;
}

.slideshow .flex-direction-nav {
   width:120px;
   position:absolute;
   top:10px;
   right:10px;
   z-index:15000;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -o-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
   overflow: hidden;
   -webkit-transition: all .2s ease-in;
   -moz-transition: all .2s ease-in;
   -o-transition: all .2s ease-in;
   -ms-transition: all .2s ease-in;
   -transition: all .2s ease-in;
    overflow: hidden;
    -moz-box-shadow: -1px 1px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: -1px 1px 5px rgba(0,0,0,.5);
    box-shadow: -1px 1px 5px rgba(0,0,0,.5);
}

.slideshow .flex-direction-nav li {
    width:40px;
    float:right;
    background:rgba(0,0,0,0.6);
    overflow: hidden;
}

.slideshow .flex-direction-nav li:first-child {
    float:left;
}



.slideshow .flex-direction-nav a {
    display:block;
    float:left;
    width:40px;
    height:0;
    line-height:0;
    margin:0;
    text-align:center;
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -transition: all .2s ease-in;
    font-size:2em;
    font-family:monospace;
    font-weight:bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.slideshow .flex-direction-nav a:hover {
    font-size:3em;
    color: rgba(255,255,255,1.0);
}

.slideshow:hover .flex-direction-nav a {
    height:40px;
    line-height:40px;
}

.slideshow .flex-direction-nav .next {

}

.slideshow .flex-direction-nav .prev {

}

/* details */

.details {
    float:left;
    width:41.66667%;
    margin:0;
    /*background:url('images/corner-bg-top-right.png') no-repeat right top;*/

}

.details h1 {
    padding-top:5px;
    font-size:2em;
    line-height: 1.2em;
}

.details {
    overflow: auto;
    font-size:.85em;
}

.details p {
    text-align: justify;
    margin:10px 0;
}

.details p:first-child {
    margin-top:0;
}

.details .description {
    float:left;
    width:60%;
}

.details .description .text p {
    margin-bottom:10px;
}


.details .meta {
    float:left;
    width:40%;
}

.details .meta p {
    margin: 0 0 0 0;
}
.details .meta ul {
    /*margin:0 0 0 0;*/
}

.details .meta .info-boxes ul {
    margin: 0 0 0 0;
    overflow: auto;
}


.details .meta .info-boxes ul li {
    overflow: auto;
    float:left;
    width:50%;
    display: table;
}


.details .meta .info-boxes ul li p {
    background: #ccc;
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
    display: table-cell; vertical-align: middle;
    text-align: center;
}

.details .meta .info-boxes ul li span {
    display:block;
    font-family: Helvetica, Arial, sans-serif;
    line-height:1em;
}

.details .meta .date .year,
.details .meta .size .number {
    font-size: 2.4em;
}

.details .meta .size .unit {
    font-size: .85em;
}

.details .meta .date .month {
    font-size: .85em;
}

.details .meta .location {
    clear:both;
    margin: 0 0 0 0;
    border: none;
     background:url('images/vertical-bg.png') no-repeat 10px top,
               url('images/bottom-bg.png') no-repeat left 10px;
}

ul#project-nav {
    position:absolute;
    bottom:0;
}

.prev-proj.tease:after {
    content: "";
}

.prev-proj.tease:before {
    content: "\00AB \00A0";
}

/* expanded detail styles */

.max .slideshow {
    width:100%;
}

.max .slideshow .controls li {
    width:8.33333333%
}

.max .slideshow .flex-direction-nav li {
    width:40px;
}

.max .details {
    width:100%;
    background: none;
    position:relative;
    overflow: auto;
}

.max .details .description {
    width:66.66667%;
    margin-right:16.66667%;
    -webkit-column-count:2;
    -moz-column-count:2;
    -o-column-count:2;
    -ms-column-count:2;
    column-count:2;
    -webkit-column-gap: 20px;
    -ms-column-gap: 20px;
    -o-column-gap: 20px;
    -moz-column-gap: 20px;
    -webkit-column-fill:balanced;
    -moz-column-fill:balanced;
    column-fill:balanced;
    float:right;
}

.max .details .meta {
    width:16.66667%;
    float:left;
}

.max .details .meta .categories,
.max .details .meta .people,
.max .details .meta .other,
.max .details .meta .info-boxes {
    margin: 0 0 0 0;
}

.max .details .meta .categories {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.max ul#project-nav {
    margin-top:40px;
    padding-right:20px;
    top:0;
    right:0;
}


/******** STUDIO *********/
.studio h1:first-child {
    margin-bottom:20px;
}

.studio .content {
    background:url('images/corner-bg-bottom-right.png') no-repeat right bottom;
}

.studio .content .main article section.body {
    padding-top:20px;
}


/******** RESEARCH *********/

.research ul.tags {
   margin-top:0;
   padding-top:0;
}


.research ul.tags li {
    display:inline;
}

.research article.article {
    clear:both;
}

.research article.article h2 a {
    text-decoration: none;
}

.research article.article ul.tags {
    margin: 0;
    padding: 0;
}

.research article.article ul.tags li {
    font-size:.85em;
}

/******** CONTACT *********/

#contact-info {
    position:relative;
    overflow: hidden;
}

#contact-info h1 {
    color:#3d6e31;
    margin-bottom:15px;
}

#contact-info p {
    margin:5px 0 0 0;
}

#contact-info div {
    width:100%;
    height:100%;
    padding: 10px;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position:absolute;
    z-index:1;
    background: rgba(255,255,255,0.8);
}

/******** MEDIA QUERIES **********/
@media screen and (max-width: 1024px) {
    section.text article {
        font-size:0.92857em;
    }
}

@media screen and (max-width: 1120px) and (min-width: 1024px) {
    body {
        width:98.33334%;
        margin: 0 .83333%;
    }

    div.main section.text article {
        font-size:0.92857em;
    }
}

@media screen and (max-width: 1240px) and (min-width: 1120px) {
    body {
        width:90%;
        margin: 0 5%;
    }

    section.text article {
        font-size:0.92857em;
    }
}

@media screen and (min-width: 1240px) {
  .studio .content .main article section.body {
    -webkit-column-count:2;
    -moz-column-count:2;
    -o-column-count:2;
    -ms-column-count:2;
    column-count:2;
    -webkit-column-gap: 20px;
    -ms-column-gap: 20px;
    -o-column-gap: 20px;
    -moz-column-gap: 20px;
    }

     section.text article {
        font-size:1em;
    }

}


@media screen and (min-width: 1240px) and (max-width:1680px) {
  body {
    width:80%;
    margin: 0 10%;
  }

  .studio .content .main article section.body {
    -webkit-column-count:2;
    -moz-column-count:2;
    -o-column-count:2;
    -ms-column-count:2;
    column-count:2;
    -webkit-column-gap: 20px;
    -ms-column-gap: 20px;
    -o-column-gap: 20px;
    -moz-column-gap: 20px;
    }

    .home article.text p {
        width:90%;
    }

}

@media screen and (min-width: 1680px) {
     body {
        width:70%;
        margin: 0 15%;
    }

    .home article.text {
        font-size:110%;
    }

    .home article.text p {
        width:75%;
        margin: 0;
        padding-top: 10px;
    }
}