/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
a:link,
a:active,
a:hover,
a:visited {
    color: #6699ff;
}

html {
    background: #efefef;
}

body {
        min-width:1024px;
        max-width:1460px;
        padding:10px;
        position:relative;
        font: normal 87.5% "Segoe UI", "Lucida Sans", Arial, Helvetica, sans-serif;
        -webkit-transition: all 0.5s ease-in;
    }

h1 {
    margin:0;
    padding:0;
    font-size: 1.5em;        /* 24px / 16px = 1.5em */
    font-weight:normal;
    text-transform: uppercase;
}

div,p,ul,ol,section,article {
    font-size: 1em;
    line-height: 1.5em;
}

body > header {
    height:80px;
    width:100%;
    background: #fff;
}

body > header > h1 {
    margin:0;
    padding:80px 0 0 0;
    float:left;
    height:0;
    width:380px;
    overflow: hidden;
    font-size:8px;
    background: url('images/logo.png')
}

body > header > nav {
    float:right;
    width:480px;
}

body > header > nav li {
    display:inline;
    line-height:80px;
}

body > .content {
    overflow: auto;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: .714285714em;
}

body > footer {
    clear:both;
    color:#777;
    text-transform: uppercase;
    font-size:.85em;
}

body > footer > .copyright {
    float:left;
    width:30%;
}

body > footer > .contact {
    float:left;
    width:66.66668%;
    text-align:right;
}

.tease {
    font-weight:bold;
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
}

.tease:after {
    content: " \00BB";
}

.box {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -o-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;
     padding: .714285714em;
}

/********** HOMEPAGE ***********/
#home .content > div {
    overflow: auto;
}

#home .content > div > article.text > div {
    padding: .714285714em;
    color:#fff;
}


#home .content > div.one {
    width:100%;
}

#home .content > div.one article.text {
     float:left; width:50%; height:100%;
}

#home .content > div.one article.text div {
    background:#7eac32 url('images/profile_bg.png') no-repeat left top;
    line-height:1.4em;
}

#home .content > div.one article.text h1 {
    font-weight:bold;
    line-height:2em;
    font-size:1.8em;
}

#home .content > div.one article.project {
     float:left; width:16.6666667%; padding: .714285714em;
}

#home .content > div.two {
    width:16.66667%; float:left;
}

#home .content > div.three {
     width:33.33334%; float:left;
}

#home .content > div.four {
     width:50%; float:left;
}

#home .content > div.four > article.project {
     width:33.33333%; float:left;
}

#home .content > div.four > article.text {
     width:66.66667%; float:left;
}

#home .content > div.four > article.text div {
    background:#d27193;
}

#home .content > div.four > article.text .date {
    font-weight:bold;
    line-height:1.8em;
    color:rgba(255,255,255,0.5);
}

#home .content > div.four > article.text h2 {
    clear:both;
    font-weight:bold;
    font-size:1.2857em;
    margin-bottom:5px;
}

#home article.project img {
    width:100%;
    display:block;
}


/*********** PROJECT DETAIL ************/
#detail article.project {
    position:relative;
    overflow: auto;
    background: url('images/corner-bg-bottom-right.png') no-repeat right bottom;
}

/* slideshow */
.slideshow {
    background:url('images/corner-bg-top-right.png') no-repeat right top,
               url('images/vertical-bg.png') no-repeat 10px 90%,
               url('images/vertical-bg.png') no-repeat 10px top,
               url('images/bottom-bg.png') no-repeat left 10px;
    float:left;
    width:58.33333%;
    position: relative;
    overflow: auto;
}

.slideshow .carousel {
    position: relative;
    margin: 10px;
    background:url('images/vertical-bg.png') no-repeat right bottom,
               url('images/bottom-bg.png') no-repeat left bottom;
}

.slideshow .carousel .slides {
    
}

.slideshow .carousel .slides img {
    width:100%;
    display:block;

}

.slideshow .carousel .slides li {
    position:relative;
}

.slideshow .carousel .flex-caption {
    position:absolute;
    bottom:0;
    left:0;
    background:rgba(0,0,0,0.7);
    color:#fff;
    line-height:3em;
    padding:0 1.33%;
    margin: 0;
    width:97.34%;
}

.slideshow .controls {
    margin:0 0 0 0;
    padding:0 0 0 0;
    overflow: auto;
    background:url('images/top-bg.png') no-repeat right 10px;
}

.slideshow .controls li {
    list-style: none;
    float:left;
    width: 14.2857143%;
}

.slideshow .controls img {
    width:100%;
    border: 1px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    opacity:0.3;
    filter:alpha(opacity=30); /* For IE8 and earlier */
    -webkit-transition: all 0.5s ease-in;
}

.slideshow .controls a.active img,
.slideshow .controls a:hover img {
    border: 1px solid #999;
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

.slideshow .flex-direction-nav li {

}

.slideshow .flex-direction-nav a {
    position:absolute;
    top:50%;
    width:33%;
    z-index:1000;
}



.slideshow .flex-direction-nav .next {
    right:2.5%;
    text-align: right;
}

.slideshow .flex-direction-nav .prev {
    left:2.5%;
}

/* expanded slideshow styles */
.min {
    position:relative;
    float:left;
    width:60.14%;
    margin:0 0.83%;
}

.start {
    float:none;
    position:absolute;
    top:100px;
    z-index:1000;
    overflow:visible;
}

.max {
    top:20px;
    left:0px;
    width:100%;
    margin:0 0 0 0;
    -moz-box-shadow: 0px 0px 8px 2px #999;
    -webkit-box-shadow: 0px 0px 8px 2px #999;
    -o-box-shadow: 0px 0px 8px 2px #999;
    -ms-box-shadow: 0px 0px 8px 2px #999;
    box-shadow: 0px 0px 12px 4px #999;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.return {
    position:absolute;
    top:100px;
    width:60.14%;
    margin:0 0.83%;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.shim {
    float:left;
    width:60.14%;
    margin:0 0.83%;
}

/* details */

.details {
    float:left;
    width:41.66667%;
    margin:0;
    background:url('images/corner-bg-top-right.png') no-repeat right top;

}

.details h1 {
    font-size:2em;
    line-height:1.1em;
}

.details h2 {
    font-weight:bold;
}

.details header {

}

.details ul, .details p {
    overflow: auto;
    font-size:.85em;
    margin:.714285714em 0;
}

.details p {
    text-align: justify;
}

.details p:first-child {
    margin-top:0;
}

.details .info-boxes ul li {
    overflow: auto;
    float:left;
    width:50%;
    display: table;
}

.details .info-boxes ul li p {
    background: #ccc;
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
    display: table-cell; vertical-align: middle;
    text-align: center;
}

.details .info-boxes ul li span {
    display:block;
}

.details .date .year,
.details .size .number {
    font-size: 2.6em;
}

.details .size .unit {
    font-size: .85em;
    line-height:2.6em;
}

.details .date .month {
    font-size: 1em;
    line-height:1.3em;
}

.details .meta {
    float:right;
    width:40%;
}

.details .description {
    float:left;
    width:60%;
}

.details .description .text p {
    margin-bottom:10px;
}

.details .meta .categories {
    overflow: hidden;
    width:90%;
    margin: 10px 5%;
    clear:both;
}

.details .meta .categories li {
    overflow: hidden;
    float:left;
    width:20%;
    padding:2px 2px 0 0;
    margin:0;
    color:#fff;
    font-weight: bold;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

 .details .meta .categories li a {
        color:#fff;
        float:left;
        width:100%;
        font-weight: bold;
        text-align: center;
        font-size:1.3em;
        text-decoration: none;
    }


.details .meta .categories .project-type {
    background:#d27193;
}

.details .meta .categories .landscape-type {
    background:#7eac32;
}

.details .meta .people,
.details .meta .link,
.details .meta .tags {
  
}
.details .meta .people ul {
    margin:0 0 0 0;
}

.details .meta .info-boxes {
    position:absolute;
    bottom:0;
    right:0;
    width:16.66667%;
}

 .details .meta .info-boxes ul {
    overflow: auto;
}

.details .meta .location {
    clear:both;
    margin: 0 0 0 0;
    border: none;
}

@media screen and (max-width: 1240px) and (min-width: 1120px) {
    body {
        width:90%;
        margin: 0 5%;
    }

    section.text article {
        font-size:0.92857em;
    }
}

@media screen and (max-width: 1120px) and (min-width: 1024px) {
    body {
        width:98.33334%;
        margin: 0 .83333%;
    }

    div.main section.text article {
        font-size:0.92857em;
    }
}

@media screen and (min-width: 1240px) {
  body {
    width:85%;
    margin: 0 7.5%;
  }
}

@media screen and (max-width: 1024px) {
    section.text article {
        font-size:0.92857em;
    }
}