/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
a:link,
a:active,
a:hover,
a:visited {
    color: #6699ff;
}


body {
        min-width:1024px;
        padding:0;
        position:relative;
        font: normal 87.5% "Segoe UI", "Lucida Sans", Arial, Helvetica, sans-serif;
        -webkit-transition: all 0.5s ease-in;
    }

    h1 {
        margin:0;
        padding:0;
        font-size: 1.5em;        /* 24px / 16px = 1.5em */
        font-weight:normal;
        text-transform: uppercase;
    }

    div,p,ul,ol,section,article {
        font-size: 1em;
        line-height: 1.5em;
    }

    body > header {
        height:100px;
        width: 98.33334%;
        margin: 0 .80333%;
    }

    body > header > h1 {
        margin:0;
        padding:80px 0 0 0;
        float:left;
        height:0;
        width:380px;
        overflow: hidden;
        font-size:8px;
        background: url('images/logo.png')
    }

    body > header > nav {
        float:right;
        width:480px;
        line-height:80px;
    }

    body > header > nav li {
        display:inline;
        line-height:100px;
    }

    body > .content {
        overflow: auto;
    }

    body > footer {
        clear:both;
        color:#777;
        text-transform: uppercase;
        font-size:.85em;
    }

    body > footer > .copyright {
        float:left;
        width:30%;
        margin: 0 .83333%;
    }

    body > footer > .contact {
        float:left;
        width:66.66668%;
        margin: 0 .83333%;
        text-align:right;
    }

/********** HOMEPAGE ***********/
.content > div {
    float:left;
    overflow: auto;
}

.content > div > section {
    overflow: hidden;
}

section.text .tease {
    font-weight:bold;
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
}

section.text .tease:after {
    content: " \00BB";
}

div.main {
    width:50%;
}

div.secondary {
     width:33.3333333%;
}

div.tertiary {
     width:16.6666667%;
}

div.secondary section.projects article.project {
    float:left;
    width:45%;
    margin:0 2.5%;
}

div.secondary section.text article {
    clear:both;
    width:90%;
    margin:0 2.5%;
    padding: 0 2.5%;
    background:#d27193;
    color:white;
}

div.secondary section.text article .date {
    font-weight:bold;
    line-height:1.8em;
    color:rgba(255,255,255,0.5);
}

div.secondary section.text article h2 {
    clear:both;
    font-weight:bold;
    font-size:1.2857em;
    margin-bottom:5px;
}

div.tertiary article.project {
    float:left;
    width:90%;
    margin:0 5%;
}

article.project img {
    width:100%;
    display:block;
}

div.main section.text article {
    width:93.33333%;
    margin: 0 1.66667%;
    background:#7eac32 url('images/profile_bg.png') no-repeat left top;
    padding: 0 1.66667%;
    color:#fff;
    line-height:1.4em;
}

div.main section.text h1 {
    font-weight:bold;
    line-height:2em;
    font-size:1.8em;
}

div.main section.projects {
    float:left;
    width:33.33334%;
}

div.main section.projects article.project {
    float:left;
    width:90%;
    margin: 0 5%;
}

div.main section.featured {
    float:left;
    width:66.66666%;
}

div.main section.featured article.project {
    width:95%;
    margin: 0 2.5%;
}

/* slideshow */
    .slideshow {
        float:left;
        width:60.14%;
        margin:0 0.83%;
        position:relative;
        background: #ccc;
    }

    .slideshow img {
        width:100%;
        display:block;
    }

    .slideshow nav {
        position:absolute;
        top:10px;
        left:10px;
    }

    .slideshow .caption {
        position:absolute;
        bottom:0;
        left:0;
        background:rgba(0,0,0,0.7);
        color:#fff;
        line-height:3em;
        padding:0 1.33%;
        margin: 0;
        width:97.34%;
    }

/* details */

    .details {
        float:left;
        width:36.54%;
        margin:0 0.83%;
        overflow:hidden;
    }

/* thumbnails */

    .thumbnails {
        float:left;
        width:62.63%;
        overflow:auto;
        margin:5% 0;
        padding: 0 0 0 0;
        clear:both;
    }

    .thumbnails ul {
        margin:0 0 0 0;
        padding:0 0 0 0;
    }

    .thumbnails li {
        margin:0 0 0 0;
        padding:0 0 0 0;
        list-style: none;
        float:left;
        background:#ccc;
        width: 9.838%;
        margin-left: 1.331%;
        margin-right: 1.331%;
    }

    .thumbnails img {
        width:100%
    }

    .more {
        float:left;
        width:36.54%;
        margin:0;
    }

    .size, .date, .designer {
        float:left;
    }



/* expanded slideshow styles */
    .min {
        position:relative;
        float:left;
        width:60.14%;
        margin:0 0.83%;
    }

    .start {
        float:none;
        position:absolute;
        top:100px;
        z-index:1000;
        overflow:visible;
    }

    .max {
        top:20px;
        left:0px;
        width:100%;
        margin:0 0 0 0;
        -moz-box-shadow: 0px 0px 8px 2px #999;
        -webkit-box-shadow: 0px 0px 8px 2px #999;
        -o-box-shadow: 0px 0px 8px 2px #999;
        -ms-box-shadow: 0px 0px 8px 2px #999;
        box-shadow: 0px 0px 12px 4px #999;
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        transition: all .5s ease-out;
    }

    .return {
        position:absolute;
        top:100px;
        width:60.14%;
        margin:0 0.83%;
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        transition: all .5s ease-out;
    }

    .shim {
        float:left;
        width:60.14%;
        margin:0 0.83%;
    }

@media screen and (max-width: 1240px) and (min-width: 1120px) {
    body {
        width:90%;
        margin: 0 5%;
    }

    section.text article {
        font-size:0.92857em;
    }
}

@media screen and (max-width: 1120px) and (min-width: 1024px) {
    body {
        width:98.33334%;
        margin: 0 .83333%;
    }

    div.main section.text article {
        font-size:0.92857em;
    }
}

@media screen and (min-width: 1240px) {
  body {
    width:85%;
    margin: 0 7.5%;
  }
}

@media screen and (max-width: 1024px) {
    section.text article {
        font-size:0.92857em;
    }
}