/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
        min-width:960px;
        width:85%;
        padding:0;
        margin:0 7.5%;
        position:relative;
        font: normal 87.5% "Segoe UI", "Lucida Sans", Arial, Helvetica, sans-serif;
    }

    h1 {
        margin:0;
        padding:0;
        font-size: 1.5em;        /* 24px / 16px = 1.5em */
        font-weight:normal;
        text-transform: uppercase;
    }

    div,p,ul,ol,section,article {
        font-size: 1em;
        line-height: 1.5em;
    }

    body > header {
        height:100px;
    }

    body > header > h1 {
        margin:0;
        padding:0;
        float:left;
        height:80px;
        width:280px;
    }

    body > header > nav {
        float:left;
        width:480px;
    }

    body > header > nav li {
        display:inline;
    }

    body > .content {
        overflow: auto;
    }

/********** HOMEPAGE ***********/
.content > article {
    float:left;
    overflow: hidden;
}

div.main {
    float:left;
    width:50%;
}

div.secondary {
     float:left;
     width:33.3%;
}

div.tertiary {
     float:left;
     width:16.67%;
}

article.project img {
    width:100%;
    display:block;
}

div.main article.featured {
    width:31.67%
}

article.text {
    margin:0 0.833%;
}

article#profile {
    width:48.33%;
    background:#7eac32;
}

article#news {
    width:31.67%;
    background:#d27193;
}




/* slideshow */
    .slideshow {
        float:left;
        width:60.14%;
        margin:0 0.83%;
        overflow:hidden;
        position:relative;
        background: #ccc;
    }

    .slideshow img {
        width:100%;
        display:block;
    }

    .slideshow nav {
        position:absolute;
        top:10px;
        left:10px;
    }

    .slideshow .caption {
        position:absolute;
        bottom:0;
        left:0;
        background:rgba(0,0,0,0.7);
        color:#fff;
        line-height:3em;
        padding:0 1.33%;
        margin: 0;
        width:97.34%;
    }

/* details */

    .details {
        float:left;
        width:36.54%;
        margin:0 0.83%;
        overflow:hidden;
    }

/* thumbnails */

    .thumbnails {
        float:left;
        width:62.63%;
        overflow:auto;
        margin:5% 0;
        padding: 0 0 0 0;
        clear:both;
    }

    .thumbnails ul {
        margin:0 0 0 0;
        padding:0 0 0 0;
    }

    .thumbnails li {
        margin:0 0 0 0;
        padding:0 0 0 0;
        list-style: none;
        float:left;
        background:#ccc;
        width: 9.838%;
        margin-left: 1.331%;
        margin-right: 1.331%;
    }

    .thumbnails img {
        width:100%
    }

    .more {
        float:left;
        width:36.54%;
        margin:0;
    }

    .size, .date, .designer {
        float:left;
    }

    footer {
        clear:both;
    }

/* expanded slideshow styles */
    .min {
        position:relative;
        float:left;
        width:60.14%;
        margin:0 0.83%;
    }

    .start {
        float:none;
        position:absolute;
        top:100px;
        z-index:1000;
        overflow:visible;
    }

    .max {
        top:20px;
        left:0px;
        width:100%;
        margin:0 0 0 0;
        -moz-box-shadow: 0px 0px 8px 2px #999;
        -webkit-box-shadow: 0px 0px 8px 2px #999;
        -o-box-shadow: 0px 0px 8px 2px #999;
        -ms-box-shadow: 0px 0px 8px 2px #999;
        box-shadow: 0px 0px 12px 4px #999;
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        transition: all .5s ease-out;
    }

    .return {
        position:absolute;
        top:100px;
        width:60.14%;
        margin:0 0.83%;
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        transition: all .5s ease-out;
    }

    .shim {
        float:left;
        width:60.14%;
        margin:0 0.83%;
    }