{% extends "research/research_base.html" %}
{% block page_title %}: News{% endblock page_title %}
{% block content %}
<section class="two-thirds">
    {%  for entry in latest %}
    <article class="box">
        <div>
        {% for image in entry.entryimage_set.all %}
                    {% if image.is_main %}
                        <a href="{{ entry.get_absolute_url }}">
                            <img class="flex" alt="{{ entry.title }}" src="{{ image.main.url }}" /></a>
                    {% endif %}
        {%  endfor %}
        <h1 class="overlay">News</h1>
        <p class="date">{{ entry.date_published|date:"M d, Y" }}</p>
        <h2>{{ entry.title }}</h2>
        {{ entry.excerpt_html|safe }}
        <p><a href="{{ entry.get_absolute_url }}" class="tease">Read More</a></p>
        </div>
    </article>
    {%  endfor %}
</section>
{% endblock content %}