{% extends "studio/studio_base.html" %}
{% block page_title %}: News{% endblock page_title %}
{% block body_class%}{{ block.super }} news{% endblock body_class %}
{% load generic_flatblocks %}
{% block content %}
    <header class="box two-thirds">
    {% block content_title %}
        <h1>Studio: News</h1>
    {% endblock content_title %}
    </header>
{% block main %}
{% endblock main %}
{% block aside %}
{% load news_tags portfolio_tags%}
    <aside class="third">
        <h2 class="box">Latest Projects</h2>
        {% get_latest_projects 8 as project_list %}
        {%  for project in project_list %}
            <article class="project list box half {% for type in project.project_types.all %}{{ type.name|lower }}&nbsp;{% endfor %}">
                    <header><a href="{{ project.get_absolute_url }}"><h1>{{ project.name }}</h1></a></header>
                    <section>
                        {% for image in project.projectimage_set.all %}
                            {% if image.is_main %}
                                <a href="{{ project.get_absolute_url }}">
                                    <img class="flex" src="{{ image.list.url }}"
                                         alt="{{ image.caption }}" />
                                </a>
                            {% endif %}
                        {% endfor %}
                    </section>
                </article>
        {%  endfor %}
        <h2 class="box">News Archive</h2>
        <h3 class="box">Recent News</h3>
        <ul class="box linked-list">
        {% get_latest_news 10 as news_list %}
        {%  for news in news_list %}
            <li><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></li>
        {%  endfor %}
        </ul>
        <h3 class="box">Past News</h3>
        {% get_news_archive as dates %}
        <ul class="box linked-list">
            {% for date in dates %}
            <li><a href="#" title="{{ date|date:"F Y" }}">{{ date|date:"F Y" }}</a></li>
            {% endfor %}
        </ul>
    </aside>
{% endblock aside %}
{% endblock content %}