{% extends "studio/studio_base.html" %}
{% load generic_flatblocks %}
{% block content %}
<section class="main two-thirds">
    <article class="box">
        {%  gblock "firm_profile" for "content.ContentBlock" with "content/contentblock/main.html" %}
    </article>
</section>
<section class="third">
    <header class="box">
        {%  gblock "people" for "content.ContentBlock" with "content/contentblock/aside.html" %}
    </header>
    {% for employee in employee_list %}
        <article class="quarter box">
            <a href="{{ employee.get_absolute_url }}"><img title="{{ employee.name }}"
                 alt="{{ employee.name }}"
                 style="border: 1px solid #efefef"
                 class="flex"
                 src="{{ employee.thumbnail.url }}" />
            </a> 
        </article>
    {%  endfor %}
    <div class="box" style="clear:both">
      {%  gblock "studio_collaborators" for "content.ContentBlock" with "content/contentblock/flatblock.html" %}
    </div>
</section>
{% endblock content %}
