{% extends "research/research_base.html" %}
{% block main %}
<section class="main two-thirds">
    <article class="box">
        {% load generic_flatblocks %}
        {%  gblock "research_title" for "content.ContentBlock" %}
    </article>
    {%  for article in latest %}
    <article>
        <section class="box eighth">
            <div class="date square">
                <ul>
                    <li class="month">{{ article.date_published|date:"M" }}</li>
                    <li class="day">{{ article.date_published|date:"d" }}</li>
                </ul>
            </div>
        </section>
        <section class="box seven-eighths">
            <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
            {{ article.excerpt_html|safe }}
            <p class="tease"><a href="{{ article.get_absolute_url }}">Read More</a></p>
        <section>
    </article>
    {% endfor %}
</section>
{% endblock main%}