{% extends "research/research_base.html" %}
{% block main %}
<section class="main two-thirds">
    {%  for article in latest %}
    <article style="clear:both;">
         <section class="box eighth">
            <div class="date">
                <ul class="square">
                    <li class="month">{{ article.date_published|date:"M" }}</li>
                    <li class="day">{{ article.date_published|date:"d" }}</li>
                </ul>
            </div>
        </section>
        <section class="box three-quarters">
            <h2>{{ article.title }}</h2>
            {% for image in article.articleimage_set.all %}
            {% if image.main %}
            <figure style="margin-top:10px;">
                <img class="flex" src="{{ image.detail.url }}" title="{{ image.name }}" alt="{{ image.caption }}" />
            </figure>
            {%  endif %}
            {%  endfor %}
            <ul class="tags">
                {% for tag in article.tags.all %}
                <li> {{ tag.name }}{% if not forloop.last %}, {% endif %}</li>
                {% endfor %}
            </ul>
            {{ article.body_html|safe }}
            <h3>Related Projects</h3>
            {%  for project in article.articleproject_set.all %}
                <article class="project list box quarter {% for type in project.project_types.all %}{{ type.name|lower }}&nbsp;{% endfor %}">
                    <header><a href="{{ project.get_absolute_url }}"><h1>{{ project.name }}</h1></a></header>
                    <section>
                        {% for image in project.projectimage_set.all %}
                            {% if image.is_main %}
                                <a href="{{ project.get_absolute_url }}">
                                    <img class="flex" src="{{ image.list.url }}"
                                         alt="{{ image.caption }}" />
                                </a>
                            {% endif %}
                        {% endfor %}
                    </section>
                </article>
            {%  endfor %}
         </section>
    </article>
    {% endfor %}
</section>
{% endblock main%}

{% block js_local %}
        <script type="text/javascript">
         $(document).ready(function() {
            Square();
        });

        $(window).resize(function() {
            Square();
        });
     </script>
{% endblock js_local %}