{% extends "base.html" %}
{% block section_title %}: Research{% endblock section_title %}
{% block body_id %}research{% endblock body_id %}
{% block content %}
{% block main %}
{% endblock main %}
{% block aside %}
    <section class="third">
        {% load article_tags %}
        <h2>Latest Projects</h2>
        <h2>Latest Articles</h2>
        <ul>
        {% get_latest_articles 10 as article_list %}
        {%  for article in article_list %}
            <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
        {%  endfor %}
        </ul>
    </section>
{% endblock aside %}
{% endblock content %}