{% extends "base.html" %}
{% block section_title %}: Research{% endblock section_title %}
{% block body_id %}research{% endblock body_id %}
{% block content %}
    {% block main %}{%  endblock main %}
    {% block aside %}
        <aside class="third">
        {% load generic_flatblocks %}
        {%  gblock "research_projects" for "content.ContentBlock" %}
        {%  for project in project_list %}
            <article>
                {{ project.name }}
            </article>
        {%  endfor %}
        </aside>
    {% endblock aside %}

{% endblock content %}