{% extends "base.html" %}
{% block section_title %}: Research{% endblock section_title %}
{% block body_id %}research{% endblock body_id %}
{% block content %}
    <article class="box two-thirds">
        {% load generic_flatblocks %}
        {%  gblock "research_title" for "content.ContentBlock" %}
    </article>
{% block main %}
{% endblock main %}
{% block aside %}
    <aside class="third">
        <h2 style="clear:both;" class="box">Article Archive</h2>
        {% load article_tags archive_tags %}
        <h3 class="box">Recent Articles</h3>
        <ul class="box linked-list">
        {% get_latest_articles 10 as article_list %}
        {%  for article in article_list %}
            <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
        {%  endfor %}
        </ul>
        <h3 class="box">Past Articles</h3>
        {% get_article_archive as dates %}
        <ul class="box linked-list">
            {% for date in dates %}
            <li><a href="{% url article_archive_month year=date|date:"Y", month=date|date:"M" %}" title="{{ date|date:"F Y" }}">{{ date|date:"F Y" }}</a></li>
            {% endfor %}
        </ul>
        <h2 class="box">Research Projects</h2>
            {% for project in project_list %}
                <article class="project list box half {% for type in project.project_types.all %}{{ type.name|lower }}&nbsp;{% endfor %}">
                    <header><a href="{{ project.get_absolute_url }}"><h1>{{ project.name }}</h1></a></header>
                    <section>
                        {% for image in project.projectimage_set.all %}
                            {% if image.is_main %}
                                <a href="{{ project.get_absolute_url }}">
                                    <img class="flex" src="{{ image.list.url }}"
                                         alt="{{ image.caption }}" />
                                </a>
                            {% endif %}
                        {% endfor %}
                    </section>
                </article>
            {% endfor %}
    </aside>
{% endblock aside %}
{% endblock content %}