{% extends "easy_maps/map.html" %}
{% block html %}
    <!-- HTML map container -->
    <div id="map-canvas-{{ map.pk }}"
         {% if map.latitude and not map.geocode_error %}
            style="width:100%; height: 100%;"
         {% endif %}
         class="easy-map-googlemap square">
    </div>
{% endblock %}
{% block map_options_js %}
            var mapOptions = {
                zoom: 3,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
{% endblock %}