{% extends "base.html" %}
{% block section_title %}: Portfolio{% endblock section_title %}
{% block content %}
    {% block content_header %}
        <header>
        {% block content_title %}
            <h1>Portfolio</h1>
        {% endblock content_title %}
        </header>
    {% endblock content_header %}
   {%  block main %}
   {%  endblock main %}
   {%  block aside %}
       <aside>
            <nav>
                <ul>
                    <li>
                        <a href="{% url portfolio_project_area_asc %}">
                           View by size: smallest to largest
                        </a>
                    </li>
                    <li><a href="{% url portfolio_project_area_desc %}">
                            View by size: largest to smallest
                        </a>
                   </li>
                </ul>
            </nav>
       </aside>
   {%  endblock aside %}
{% endblock content %}