{% extends 'portfolio/portfolio_base.html' %}
{% block content %}
{% block main %}
<section class="two-thirds">
    {% block content_header %}
    <header class="square box quarter" style="background:#8ec42a;">
    {% load category_tags %}
        {% block content_title %}
            <h1 class="square box sixth">{{ category.alternate_title }}</h1>
            <p>{{ category.title }}</p>
        {% endblock content_title %}
   </header>
    {% endblock content_header %}
    <section class="project-list">
    {% for project in category.landscapetype.project_set.all %}
        <article class="box quarter">
        {% include "portfolio/project_snippet.html" %}
        </article>
    {% endfor %}
    </section>
 </section>
 {% endblock main %}
 {% block aside %}
     <aside class="third">

     </aside>
 {% endblock aside %}
{% endblock content %}
{% block js_local %}
<script type="text/javascript">
    function Square() {
            $('.square').each(function(){
                width = $(this).width();
                $(this).css('height',width);
            });
            $('.center').each(function(){
                width = $(this).width();
                $(this).css('line-height',width + "px");
            });
    }


    $(document).ready(function() {
        Square();
    });

    $(window).resize(function() {
        Square();
    });

</script>
{% endblock js_local %}