{% extends "portfolio/portfolio_base.html" %}
{% block page_title %}: {{ project.name }}{% endblock page_title %}
{% block content %}
    <article class="project">
    {% if project.projectimage_set.all %}
        <section class="slideshow">
            <ul class="slides">
            {% for image in project.projectimage_set.all %}
                <li>
                    <img src="{{ image.detail.url }}" alt="{{ image.caption }}" />
                    {% if image.caption %}<p class="flex-caption">{{ image.caption }}</p>{% endif %}
                </li>
            {% endfor %}
            </ul>
        </section>
        {% endif %}
        <section class="details">
            <header><h1>{{ project.name }}</h1></header>
            {% if project.project_types.all or project.landscape_types.all %}
                <ul class="categories">
                    {% if project.project_types.all %}
                        {% for category in project.project_types.all %}
                            <li> {{ category.name }} </li>
                        {% endfor %}
                    {% endif %}
                    {% if project.landscape_types.all %}
                        {% for category in project.landscape_types.all %}
                            <li> {{ category.name }} </li>
                       {% endfor %}
                    {% endif %}
                </ul>
            {% endif %}
            {{ project.description_html|safe }}
            {% if external_url %}
                <p class="url">{{ project.external_url }}</p>
            {% endif %}
            {% if project.tags.all %}
                <ul class="tags">
                    {% for tag in project.tags.all %}
                    <li> {{ tag.name }} </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if project.clients.all or project.collaborators.all %}
                <div class="people">
                    {% if project.clients.all %}
                    <h2>Clients</h2>
                    <ul>
                        {% for client in project.clients.all %}
                        <li> {{ client.name }} </li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if project.collaborators.all %}
                    <h2>Collaborators</h2>
                    <ul>
                        {% for collaborator in project.collaborators.all %}
                        <li> {{ collaborator.name }} </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            {% endif %}
        </section>
        <section class="thumbnails">
            <ul>
               {% for image in project.projectimage_set.all %}
                    <li>
                        <img src="{{ image.thumbnail.url }}"
                             alt="{{ image.caption }}"/>
                   </li>
               {% endfor %}
            </ul>
        </section>
        <section class="more">
            {% load easy_maps_tags %}
            {% easy_map project.address 180 180 %}
            {% if project.date_end %}
                <p class="date">{{ project.date_end|date:"F Y" }}</p>
            {% endif %}
            <p class="size">{{ project.area|floatformat }} {{ project.get_unit_display }}</p>
            {% if project.designers.all %}
                <ul class="designer">
                    {% for designer in project.designers.all %}
                    <li> {{ designer.name }} </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
    </article>
{% endblock content %}

{% block js_local %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flexslider.min.js"></script>
<script type="text/javascript">
    function Flex() {
            if ($(".shim").length == 0) {
                var a = $(".slideshow")
            } else {
                var a = $(".shim")
            }
            var b = $(".thumbnails li");
            var c = $(".thumbnails");
            var d = $(".details");
            var e = $(".thumbnails ul");
            var width = a.width();
            var height = width * .667;
            //var height = width * .75;
            var thumb_width = b.width();
            var total_width = c.width();
            var margin = total_width * .013331;

            a.css('height', height);
            b.css('height', thumb_width);
            b.css('margin-top', margin);
            b.css('margin-bottom', margin);
            c.css('margin-bottom', margin);
            d.css('height', height);
            d.css('margin-bottom', margin);
    }

    $(document).ready(function() {
        //Flex();
        $('.slideshow').flexslider({
            animation: "slide",
            manualControls: ".thumbnails",
        });
    });

    $(window).resize(function() {
        //Flex();
    });

    $("#open").click(function () {
        var height = $(".slideshow").height();
        $(".slideshow").removeClass('min');
        $(".slideshow").removeClass('return');
        $(".slideshow").addClass('start');
        setTimeout(function() { $(".slideshow").addClass('max'); }, 50);
        $(".project").prepend('<div class="shim"></div>');
        $(".shim").css('height', height + 'px');
        $(".details").css('height', height + 'px');
    });

    $("#close").click(function () {
        $(".slideshow").removeClass('max');
        $(".slideshow").removeClass('start');
        $(".slideshow").addClass('return');
        setTimeout(function() { $(".shim").remove(); }, 500);
        setTimeout(function() { $(".slideshow").removeClass('return'); }, 500);
        setTimeout(function() { $(".slideshow").addClass('min'); }, 500);
    });
</script>
{% endblock js_local %}