{% extends "portfolio/portfolio_base.html" %}
{% block page_title %}: {{ project.name }}{% endblock page_title %}
{% block content %}
    <article class="project">
    {% if project.projectimage_set.all %}
        <section class="slideshow">
            <div class="carousel flex-margin">
                <ul class="slides">
                {% for image in project.projectimage_set.all %}
                    <li>
                        <img src="{{ image.detail.url }}" alt="{{ image.caption }}" />
                        {% if image.caption %}<p class="flex-caption">{{ image.caption }}</p>{% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="controls">
                <ul>
                   {% for image in project.projectimage_set.all %}
                        <li class="flex-margin">
                            <a href="#"><img src="{{ image.thumbnail.url }}"
                                 alt="{{ image.caption }}"/></a>
                       </li>
                   {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
        <section class="details">
            <header class="flex-margin"><h1>{{ project.name }}</h1></header>
            <div class="description">
                <div class="meta">
                    {% if project.project_types.all or project.landscape_types.all %}
                        <ul class="categories flex-margin">
                            {% if project.project_types.all %}
                                {% for category in project.project_types.all %}
                                    <li class="project-type flex-box center"> {{ category.alternate_title }} </li>
                                {% endfor %}
                            {% endif %}
                            {% if project.landscape_types.all %}
                                {% for category in project.landscape_types.all %}
                                    <li class="landscape-type flex-box center"> {{ category.alternate_title }} </li>
                               {% endfor %}
                            {% endif %}
                        </ul>
                    {% endif %}
                    {% if project.clients.all or project.collaborators.all %}
                        <div class="people flex-margin">
                            {% if project.clients.all %}
                            <h2>Clients</h2>
                            <ul>
                            {% for client in project.clients.all %}
                                <li> {{ client.name }} </li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="people flex-margin">
                            {% if project.collaborators.all %}
                            <h2>Collaborators</h2>
                            <ul>
                            {% for collaborator in project.collaborators.all %}
                                <li> {{ collaborator.name }} </li>
                            {% endfor %}
                             </ul>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="info-boxes">
                        {% if project.date_end %}
                            <p class="date flex-box flex-margin">{{ project.date_end|date:"F Y" }}</p>
                        {% endif %}
                        <p class="size flex-box flex-margin">{{ project.area|floatformat }} {{ project.get_unit_display }}</p>
                        <div class="location flex-margin flex-box">
                            {% load easy_maps_tags %}
                            {% easy_map project.address using 'portfolio/map.html' %}
                        </div>
                    </div>
                </div>
                <div class="text flex-margin">
                    {{ project.description_html|safe }}
                    {% if external_url %}
                        <p class="url">{{ project.external_url }}</p>
                    {% endif %}
                    {% if project.tags.all %}
                        <ul class="tags">
                        {% for tag in project.tags.all %}
                            <li> {{ tag.name }} </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            
        </section>
    </article>
{% endblock content %}

{% block js_local %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flexslider.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.sizes.min.js"></script>
<script type="text/javascript">
    function Flex() {
            if ($(".shim").length == 0) {
                var a = $(".carousel")
            } else {
                var a = $(".shim")
            }
            var width = a.width();
            var height = width * .6125;

            a.css('height', height);
    }

    function FlexMargin() {
            $('.flex-margin').each(function(i, obj){
                margin = $(this).margin().right;
                $(this).margin({bottom: margin, top: margin })
            });
            /*
            var li = $(".controls li");
            var div = $(".controls");
            var li_width = li.width();
            var div_width = div.width();
            var margin = div_width * .0125;

            li.css('margin-top', margin);
            li.css('margin-bottom', margin);
            div.css('margin-bottom', margin);
            div.css('margin-top', margin);*/
    }

    function FlexBox() {
            $('.flex-box').each(function(i, obj){
                width = $(this).width();
                $(this).css('height',width);
            });
            $('.center').each(function(i, obj){
                width = $(this).width();
                $(this).css('line-height',width + "px");
            });
    }


    $(document).ready(function() {
        $('.carousel').flexslider({
            animation: "slide",
            slideshow: true,
            slideshowSpeed: 7000,
            animationDuration: 600,
            directionNav: true,
            controlNav: true,
            keyboardNav: true,
            touchSwipe: true,
            prevText: "Previous",
            nextText: "Next",
            pausePlay: false,
            randomize: false,
            slideToStart: 0,
            animationLoop: true,
            pauseOnAction: true,
            pauseOnHover: true,
            controlsContainer:".controls",
            manualControls: "ul li a"
        });
        Flex();
        FlexMargin();
        FlexBox();
    });

    $(window).resize(function() {
        Flex();
        FlexMargin();
        FlexBox();
    });

    $("#open").click(function () {
        var height = $(".slideshow").height();
        $(".slideshow").removeClass('min');
        $(".slideshow").removeClass('return');
        $(".slideshow").addClass('start');
        setTimeout(function() { $(".slideshow").addClass('max'); }, 50);
        $(".project").prepend('<div class="shim"></div>');
        $(".shim").css('height', height + 'px');
        $(".details").css('height', height + 'px');
    });

    $("#close").click(function () {
        $(".slideshow").removeClass('max');
        $(".slideshow").removeClass('start');
        $(".slideshow").addClass('return');
        setTimeout(function() { $(".shim").remove(); }, 500);
        setTimeout(function() { $(".slideshow").removeClass('return'); }, 500);
        setTimeout(function() { $(".slideshow").addClass('min'); }, 500);
    });
</script>
{% endblock js_local %}